//hash code to filter converter https://angel-rs.github.io/css-color-filter-generator/
$main-color-purple: #50286D;
$main-color-pink: #AC3E7F;
$green: #0C7938;
$ash: #666666;
$inout-ash: #CFD3DE;
$light-ash: #667080;
$black: #111111;
$white: #FFFFFF;
$blue:#2B6CB0;
$navy-blue: #2f2f91;
$ash-white:#E9EEF4;
$blue-ash:#EDF0F7;
$hover-purple:#642d8f;
$black2:#000000;
$main-red:#EF0F38;
$blue-gray-dark:#5E5873;
$blue-gray-light:#6E6B7B;
$active-green:#28C76F;
$main-orange:#F39433;
$warning:#EA5455;
$purple2:#7E57C2;
$ash-purple: #5E5873;
$shadow-black: rgba(0,0,0,0.35);
$shadow-purple: rgba(80, 40, 109, 0.5);
$lite-ash: #B9B9C3;
$white-ash: #F8F8F8;
$border-ash: #E2E0E6;
$transparent: rgba(0,0,0,0,);
$gray: #D8D6DE;
$blue-completed:#0D6EFD;
$pink-rejected:#D63384;
$orange-pending:#FD7E14;
$orange-paused:#FF9F43;
$brown-expired:#BB775A;
$blue-gray-dark-filter: brightness(0) saturate(100%) invert(36%) sepia(20%) saturate(526%) hue-rotate(213deg) brightness(90%) contrast(87%);
$white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(106%) contrast(104%);



